@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #1f1f1f; /*Change the Color of the Whole Page*/
}

/* Navigation Bar */
li,a{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

/* Container - where elements are located */
.container{
	width: 100%;
	height: 100vh;
	padding-left: 13%;
	padding-right: 13%;
	box-sizing: border-box;
}

/* Nav-Bar Adjustments*/
.navbar{
	height: 12%;
	display: flex;
	align-items: center;
}

/* Nav-Bar Text Alignment */
nav{
	flex: 1;
	text-align: right; 
}

/* Nav-Bar List Elements Display Adjustment */
nav ul li{
	display: inline-block;
	list-style: none;
	margin-left: 60px;
	position: relative;
	padding: 10px 17px; /* 10px - Distance Bet. Text and Underline, 17px Width of Underline */
}

/* Nav-Bar Text Underline Setting */
a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
  }

/* Nav-Bar Text Underline Animation */
a:hover:after { 
	width: 100%; 
	left: 0; 
  }

/* Container Height */
.row{
	display: flex;
	height: 70%;
	align-items: center;
}

/* Container Divider : Left 40%, Right 60% */
.col{
	flex-basis: 40%;
}

/* FIFO Text Settings */
h1{
	color: white;
	font-size: 110px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

/* Bottom Note Text Settings */
h2{
	color: rgb(252, 252, 252);
	font-size: 15px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	margin-top: 50px;
	letter-spacing: 1px;
} 

/* TextBox Labels Settings */
label{
	color: white;
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

/* Form Settings */
form .user_details{
	display: flex;
	flex-wrap: wrap;
}

/* TextBox Design Settings */
.user_details .control-group input{
	height: 50px;
	width: 500px;
	margin-top: 10px;
	border-radius: 10px;
}

/* TextBox Margin Setting (Spacing) */
form .user_details .control-group{
	margin: 20px 0 12px 0;
}

/* Number of Frames Placeholder Color */
.user_details .control-group input{
	color: white;
	padding-left: 2em;
	padding-right: 1em;
	font-size: 15px;
}

/* Start Simulation and Reset Button Settings */
button{
	height: 50px;
	width: 200px;
	margin-top: 30px;
	color: black;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 15px;
	border-radius: 25px;
	border: none;
	background-color: white;
}

/* Button Hover Settings */
button:hover{
	background-color: rgb(218, 59, 1);
}

/* Simulation Result Text Settings */
h3{
	color: white;
	font-size: 50px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

/* Page Fault Result Text Settings */
p {
	color: white;
	font-size: 30px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

/* Left Side Column Spacing Settings */
.col2{
	margin-left: 300px;
}

/* Bottom Copyright Text Settings */
h6{
	color: rgb(255, 255, 255);
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	text-align: center;
	padding-top: 10%;
	letter-spacing: 1px;
}

/* Success and Failure Rate Settings */
h5 {
	color: rgb(244, 244, 244);
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}



/* ------------------------ FUNCTIONALITY ------------------------ */

#simulation-results {
    padding: 20px;
    text-align: center;
}

#frames-container {
    margin-top: 20px;
    margin-bottom: 40px; /* Increased space below the boxes */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the boxes horizontally */
    margin: 10px 0; /* Add margin to even out the vertical space */
}

.frame {
    width: 100px; /* Larger box size */
    height: 100px; /* Larger box size */
    border: 2px solid #ddd;
    text-align: center;
	color: white;
    line-height: 100px; /* Larger line height */
    margin: 0 8px; /* Adjusted margin */
    border-radius: 8px;
    font-size: 30px; /* Increased font size */
	transition-timing-function: ease-in-out;
    transition: transform 0.5;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	margin-top: 40px;
}

.new-page-fault {
    transform: scale(1.2); /* Simple scale animation */
	
}

.old-page {
    transform: scale(1.0); /* Simple scale animation */
}

#totalFaults {
    font-weight: bold;
    font-size: 30px;
}

#successRate,
#failureRate {
    font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
